{% extends 'payrollapp/base.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}

{% block content %}
<div class="my-5">
  <h3 class="text-dark">About page</h3>
  <p class="my-5">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda beatae labore officiis nemo delectus recusandae
    consequatur, adipisci animi modi voluptate, distinctio vitae voluptatum possimus doloremque accusantium perspiciatis
    nesciunt quod nostrum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus explicabo ipsum non nam, optio autem exercitationem
    magni assumenda officiis quaerat temporibus vero suscipit illo. Iste dicta nihil ratione iusto quod quam earum atque
    cupiditate at minus facilis molestiae soluta maiores placeat suscipit laboriosam consectetur, non ad qui obcaecati
    unde neque omnis! Quidem dolorum distinctio dignissimos eveniet praesentium perferendis est repudiandae. Beatae
    architecto harum magnam repudiandae debitis! Nisi nostrum repudiandae architecto cum eligendi temporibus minima,
    quam officia eaque inventore tenetur sapiente! Praesentium, hic officia, blanditiis optio saepe ipsum nemo dolorum,
    vero nostrum iste eius dolores quis pariatur repellendus dicta eos ipsam!
  </p>
</div>

{% endblock content %}