<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'payrollapp/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'payrollapp/css/style.css' %}">
  <title>
    {% block title %}
    {% endblock title %}
  </title>
</head>

<body>
  <div class="container-fluid bg-dark" style="background-color: #161b36 !important;">
    {% include 'payrollapp/navbar.html' %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {% block msg %}
        {% endblock msg %}
      </div>
    </div>

    <div class="row">
      {% block side %}
      {% endblock side %}
    </div>

    <div class="row" style="background-color: #1e2442; ">
      {% block content %}
      {% endblock content %}
    </div>
  </div>



  <!-- Script tags -->
  <script src="{% static 'payrollapp/js/popper.js' %}"></script>
  <script src="{% static 'payrollapp/js/jquery.js' %}"></script>
  <script src="{% static 'payrollapp/js/bootstrap.js' %}"></script>
</body>

</html>