{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>DESSSSSSSSSMODEL</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Edit</button>
        <a href="{% url 'success_view' %}" class="btn btn-primary">Confirm</a>
      </div>
    </div>
  </div>
</div>

<script>
  // Trigger the modal on page load
  $(document).ready(function () {
    $('#confirmationModal').modal('show');
  });
</script>
{% endblock %}