{% extends 'payrollapp/base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock title %}


{% block content %}
<div class="my-5">
  <h3 class="text-dark">Contact page</h3>
  <form>
    <div class="row">
      <div class="mb-3 col">
        <label for="formGroupExampleInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
      </div>
      <div class="mb-3 col">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress">
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock content %}