<div class="sidenav" style="z-index: 1;">
  <a href="#">Home</a>
  <a href="#">About</a>
  <div class="dropdown"> <!-- Add a container for the dropdown menu -->
    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Services</a>
    <!-- Add the dropdown-toggle class and data-bs-toggle attribute -->
    <ul class="dropdown-menu custom-dropdown">
      <li><a href="#">Service01</a></li>
      <li><a href="#">Service02</a></li>
    </ul>
  </div>
  <a href="#">Portfolio</a>
  <a href="#">Contact</a>
</div>