{% extends "payrollapp/base.html" %}
{% load static %}
{% block content %}
<section class="wrapper" style="min-height: 100vh;">
  <div class="container">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <div class="logo text-center m-5">
        <img src="{% static 'payrollapp/images/logo.png' %}" alt="LOGO" class="img-fluid mt-3">
      </div>

      <!-- Form -->
      <form method="post" class="rounded bg-white shadow p-5" id="form" novalidate
        style="background-color: #242b4d !important;">
        {% csrf_token %}
        <h3 class="text-white fw-bold fs-4 mb-2 text-center">Forget Password</h3>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-group text-white">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control">
        </div>

        <div class="text-center mt-4">
          <button class="btn" type="submit" style="background-color: #3876BF; color: white;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}