{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}
<section class="wrapper" style="min-height: 100vh;">
  <div class="container">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <div class="logo text-center m-5">
        <img src="{% static 'payrollapp/images/logo.png' %}" alt="LOGO" class="img-fluid mt-3 ">
      </div>

      <!-- form -->
      <form action="" method="POST" class="rounded bg-white shadow p-5" novalidate
        style="background-color: #242b4d !important;">
        <h3 class="text-white fw-bold fs-4 mb-2 text-center">Password Sent</h3>
        <div class="fw-normal text-white mb-4 text-center">
          Password has been set. You may go ahead
          <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-primary submit_btn my-4">Log in</a>
          </div>
          <!-- Non Field Errors -->
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p class="alert alert-danger my-3">
            {{error}}
          </p>
          {% endfor %}
          {% endif %}
      </form>

    </div>
  </div>

</section>

{% endblock content %}