{% extends 'payrollapp/base.html' %}
{% load static %}

{% block content %}
<section class="wrapper" style="min-height: 100vh;">
  <div class="container">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <div class="logo text-center m-5">
        <img src="{% static 'payrollapp/images/logo.png' %}" alt="LOGO" class="img-fluid mt-3 ">
      </div>

      <!-- form -->
      {% if validlink %}
      <form action="" method="POST" class="rounded bg-white shadow p-5" novalidate
        style="background-color: #242b4d !important;">
        <h3 class="text-white fw-bold fs-4 mb-2 text-center">Change Password</h3>
        <div class="fw-normal text-muted mb-4 text-center">
          Enter your email to reset your password.
        </div>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group text-white">
          {{fm.label_tag}} {{fm}} <small class="text-danger fw-bold">{{fm.errors|striptags}}</small><br>
        </div>
        {% endfor %}
        <div class="text-center"><input type="submit" value="Login" class="btn btn-primary submit_btn my-4"
            style="background-color: blue; color: white;">
        </div>
        {% else %}
        <div class="fw-normal mb-4 text-center">
          The Password reset link was invalid, possibly because it has already been used. Please request a new password
          reset.
        </div>
        {% endif %}
        <!-- Non Field Errors -->
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">
          {{error}}
        </p>
        {% endfor %}
        {% endif %}
      </form>

    </div>
  </div>

</section>

{% endblock content %}